*{
    margin: 0; 
    font-family: Arial;
    border: border-box ;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/**box2**/ 
.add-first{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec{
   font-size: 1rem;
   margin-left: 3px ;
}
.addicon{
    display: flex;
    align-items: center;
}
/**box3*/
.navsearch{
    display: flex; 
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px ;
    margin-left: 10px;
    
    justify-content: space-evenly;
}
.navsearch :hover{
    border: 2px solid orange;
}
.search-sel{
    background-color: #f3f3f3;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    width: 50px;
    border: none;
}
.searchbox{
    font-size: 1rem;
    width: 100%; 
    border: none;
}
.searchicon{
    width: 45px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}
/** box4 */
span{
    font-size: 0.7rem;
} 
.nav-sign-sec{
    font-size: 0.85rem;
    font-weight: 700px;
}

/**box5*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
     font-size: 0.85rem;
     font-weight: 700;
}

/*** panellllllllll*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-op p{
    display: inline;
    margin-left: 15px;
}
.panel-op{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
   font-size: 0.9rem;
   font-weight: 700;
}

.herosec{
    background-image: url("hero_image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 
.hero-mas{
    height: 40px;
    background-color: white;
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%; 
    margin-bottom: 29px;
}


/**shop sec*/
.shop-sec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.b{
    border: 2px solid rgb(255, 255, 255);
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: rgb(81, 192, 202);
}

footer{
    margin-top: 15px;
}
.foot1{
    height: 50px;
    background-color: #37475a;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}
.foot3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 75px; display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    
}
.foot4{
    background-color: #0f1111;
    color: white ;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
.foot4 a{
    color: white;
}